.sign_title{
    text-align: center;
    background: rgb(225, 219, 219);
    color: rgb(199, 20, 166);
}

.login_modal{
    padding-top: 200px
}

.login_title{
    text-align: center; 
    color: white;
    background:rgb(180, 117, 252)
}

.login_input{
    padding: 20px
}

.login_root{
    background:rgb(20, 199, 151);
}
