.MainLeft_root{
    background: white;
    width: 350px;
    height: 600px;
    position: fixed;
}

.mainLeft_row{
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid rgb(157, 151, 151);
}

.mainleft_title{
    text-align: center;
    background: rgb(224, 222, 222);
}

