/* @import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap'; */
@import 'https://fonts.googleapis.com/css?family=Sofia';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F2F3F5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
